body{
    margin: 0;
    padding: 0;
    background: url(green.jpg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms-box{
    max-width: 460px;
    background-color:  #111;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    padding: 60px 30px;
}

.terms-box{
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 500;
    color: #f1f1f1;
}

.terms-text::-webkit-scrollbar{
    width: 2px;
    background-color: #282828;
}

.terms-box h2{
    text-decoration: uppercase;
}

.terms-box h4{
    font-size: 13px;
    text-align: center;
    padding: 0 40px;
}
.terms-boxh4 span{
    color: #d13639;
}

.buttons{
   display: flex;
   padding: 0 20px;
   align-items: center;
}

.btn{
    padding: 15px;
    width: calc(100% - 6px);
    border-radius: 6px;
    font-size: 15px;
    font-weight: 1000;
    color: #fff;
    transition: .3s linear;
    cursor: pointer;
    
}

.red-btn{
 background-color: rgb(120, 216, 163);
}

.gray-btn{
    background-color: #282828;
}

.btn:hover{
    opacity: .6;
}